
<div class="row landing_title">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="text-center">
			<h1>Bienvenido</h1>
			<%= link_to "Entrar", new_user_session_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>
