<p id="notice"><%= notice %></p>
<% if current_user %>
<%= link_to 'Nuevo Fianza', new_fianza_path %>
<% end %>
<div class="jumbotron text-center">
	<h1>Fianzas</h1>
	<div class="btn-group" role="group" aria-label="Default">
		<h3 class: "btn btn,default">Afianzadora 1</h3>
		<h3 class: "btn btn,default">Afianzadora 2</h3>
		<h3 class: "btn btn,default">Afianzadora 3</h3>
		<h3 class: "btn btn,default">Afianzadora 4</h3>


	</div>
</div>